/* Variables */
:root {
  --brand-color: #2196f3;
  --brand-background-dark: #2f303a;
  --brand-backgrounf-light: #f5f4fa;
  --text-black: #212121;
  --text-grey: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-black);
}

.page-header {
  background-color: white;
}
.logo {
  color: var(--brand-color);
}
.site-nav a:hover,
.site-nav a:focus
{
    color: var(--brand-color);
    cursor: pointer;
}
.header-email-phone{
    color: var(--text-grey);
    text-decoration: none;
}
/* remove link behaviour */
.header-email-phone:hover,
.header-email-phone:focus
{
    color: var(--brand-color);
}
.hero {
  background-color: var(--brand-background-dark);
  color: white;
}
.hero-button {
  background-color: var(--brand-color);
  color: white;
  cursor: pointer;
}
.sort-button button {
  background-color: var(--brand-backgrounf-light);
  color: var(--text-black);
  cursor: pointer;
}
.sort-button button:hover,
.sort-button button:focus {
  background-color: var(--brand-color);
  color: white;
}
.our-team {
  background-color: var(--brand-backgrounf-light);
}

.our-team h3 {
  color: var(--text-black);
}
.our-team p {
  color: var(--text-grey);
}
.footer {
  background-color: var(--brand-background-dark);
}
.location {
  color: white;
}
.footer-email-phone {
  color: rgba(255, 255, 255, 60%);
}


/* Styling
«C1» There are no global element styles except for <body>.

«C2» Class selectors are used for styling.

«C3» Styles have no !Important.

«C4» Interactive elements (buttons and links), when hovering over or focusing with the keyboard, have an active state specified in the layout (color change).

«С5» The text of contacts in the header and footer changes color when hovering over or focusing with the keyboard.

«C6» CSS variables are used to store the palette of layout colors (text, background, highlighting).

«С7» The <body> element has the font-family property with the Roboto font as default for the layout.

«C8» There are alternative font variations and family type (sans serif) at the end of font-family for the <body> element.

«C9» The Roboto font family is explicitly set only for the <body> element, while the rest of the elements inherit it.

«С10» For the <body> element, the color property is set to the default text color of the layout. The rest of the text inherits or overrides this value.

«С11» The font size (font-size property) of all text elements exactly matches the values from the layout.

«C12» The line height (line-height property) of all text elements exactly matches the values from the layout, and it is set as a multiplier, not in px.

«С13» The color (color property) of all text elements exactly matches the values from the layout.

«С14» The font weight (font-weight property) of all text elements exactly matches the values from the layout.

«С15» The font weight (font-weight property) is explicitly specified only if the value in the layout differs from the standard for this element in the browser.

«С16» All buttons are set to the cursor property with the pointer value.

«С17» Styles do not repeat browser default values. For example, links do not need to have cursor: pointer, and paragraphs do not require font-style: normal or font-weight: 400. */ */
