/* Variables */
:root {
  --brand-color: #2196f3;
  --bg-color-dark: #2f303a;
  --bg-color-light: #f5f4fa;
  --text-primary: #757575;
  --text-secondary: #212121;
  --accent-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--accent-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-primary);
  letter-spacing: 0.03em;
}

/*Singletones and Patterns*/
.nolist {
  list-style: none;
}
.nodecor {
  text-decoration: none;
}

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* Buttons */
.button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: inherit;
}

.button.active {
  background-color: var(--brand-color);
  color: var(--accent-color);
}

.button.idle {
  background-color: var(--bg-color-light);
  color: var(--text-secondary);
}

.button.hero {
  background-color: var(--brand-color);
  color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--brand-color);
  color: var(--accent-color);
}

/* HEADER */
.logo {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
/* Site navigation */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav a:hover,
.site-nav a:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--brand-color);
}

.link {
  color: var(--text-secondary);
}
.site-nav .link.current {
  color: var(--brand-color);
}

/* Header Contacts */
.header-contacts {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* HEADER end */

/* STUDIO PAGE MAIN */

/* Hero section */
.hero {
  background-color: var(--bg-color-dark);
}
.hero-title {
  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Advantages section */
.advantages-features {
  color: var(--text-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.7;
}

/* We do section */
.wedo-title {
  color: var(--text-secondary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Team section */
.team {
  background-color: var(--bg-color-light);
}
.team-title {
  color: var(--text-secondary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-name {
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/* STUDIO PAGE MAIN end*/

/* PORTFOLIO PAGE */
.items-title {
  color: var(--text-secondary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.items-filter {
  color: var(--text-primary);
  font-size: 16px;
  line-height: 1.9;
}
/* PORTFOLIO PAGE end */

/* Footer */

.footer {
  background-color: var(--bg-color-dark);
  font-style: normal;
}

.footer-location {
  color: var(--accent-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}
.footer-contacts {
  color: var(--footer-contacts-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}

.footer-location:hover,
.footer-location:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--brand-color);
}
